body { 

    background-color: crimson;
    text-align: justify;
body {

    background-color: aquamarine;
text-align:justify
}
 h1 {

h1 { 
    color: rgb(20, 220, 30);
    background-color: bisque;
    text-align: center;

}
 }